html, body {
    margin: 0;
    background-image: radial-gradient(circle at 50% 50%, #111122, #0d0d13);
	background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin heading {
	width: fit-content;
	text-align: left;
	margin: 0;
	font-family: "PT Serif", serif;
	color: #a5a2e6;
}

@mixin body-text {
	width: fit-content;
	text-align: left;
	margin: 0;
	font-family: "DM Sans", serif;
	color: #e6e6e6;
	font-size: 1.2rem;
}

h1 {
    @include heading;
	font-weight: 500;
	font-size: 3rem;
	line-height: 1.15;
	letter-spacing: -0.02em;
}

h2 {
    @include heading;
    font-weight: 500;
    font-size: 2.75rem;
    letter-spacing: -0.01em;

}

h3 {
    @include heading;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0em;
}

h4 {
    @include heading;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.01em;
}

p, a {
	@include body-text;
	display: inline-block;
}

a {
	cursor: pointer;
}

.mouse {
	position: fixed;
	height: 32px;
	width: 32px;
	border-radius: 100%;
	background-color: #747474;
	opacity: 30%;
	z-index: 99;
	pointer-events: none;
	mix-blend-mode: lighten;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
    width: 40vw;
}

.hero {
	align-items: center;
	
    h1 {
		text-align: center;
		margin-bottom: 16px;
	}

	.links {
		width: fit-content;

		a {
			margin: 0 4px;
		}
	}
}

.aboutme {
	h2 {
		margin-bottom: 8px;
	}
}