html, body {
    margin: 0;
    background-color: #0d0d13;
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin heading {
	width: fit-content;
	text-align: left;
	margin: 0;
	font-family: "PT Serif", serif;
	color: #a5a2e6;
}

@mixin body-text {
	width: fit-content;
	text-align: left;
	margin: 0;
	font-family: "Open Sans", serif;
	color: #e6e6e6;
	font-size: 1.2rem;
}

h1 {
    @include heading;
	font-weight: 500;
	font-size: 3rem;
	line-height: 1.15;
	letter-spacing: -0.02em;
}

h2 {
    @include heading;
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: -0.01em;

}

h3 {
    @include heading;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0em;
}

h4 {
    @include heading;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.01em;
}

h4 {
    @include heading;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
}

p, a {
	@include body-text;
	display: inline-block;
}

a {
	cursor: pointer;
}

.section {
	display: flex;
	flex-direction: column;
    width: 60vw;
}

.hero {
	height: 100vh;
	justify-content: center;
	align-items: center;
	
    h1 {
		text-align: center;
		margin-bottom: 16px;
	}

	.links {
		a {
			margin: 0 4px;
		}
	}
}